# Core functionality - changes here should be rare!
/src/app.py                   @KARTHICKDSYSARC
/src/backend/database.py      @KARTHICKDSYSARC
/src/backend/routers/auth.py  @KARTHICKDSYSARC

# The frontend will need refactored soon to be more object oriented.
/src/static/   @KARTHICKDSYSARC
